APP_ENV=dev
LOG_LEVEL=INFO
DATA_DIR=.data
ARTIFACT_DIR=.artifacts
MODEL_REFRESH_SECONDS=5

POSTGRES_USER=mle
POSTGRES_PASSWORD=mle
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
MLFLOW_DB=mlflow
DAGSTER_DB=dagster

MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=dummy-imbalance
MLFLOW_REGISTER_MODELS=true
MLFLOW_MODEL_NAME=dummy_imbalance_risk
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_DEFAULT_REGION=us-east-1
MLFLOW_ARTIFACT_BUCKET=mlflow

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

REDIS_URL=redis://redis:6379/0

DAGSTER_HOME=infra/docker/dagster
DAGSTER_POSTGRES_HOST=postgres
DAGSTER_POSTGRES_PORT=5432
DAGSTER_POSTGRES_USER=mle
DAGSTER_POSTGRES_PASSWORD=mle
DAGSTER_POSTGRES_DB=dagster

API_HOST=0.0.0.0
API_PORT=8000
ALLOW_DEV_FORCE_FALLBACK=true

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
